<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/public/app.css">
</head>
<body>
    <header id="main-header">
        <h1 id="main-heading">You can browse between the various sections of our website and discover a little more about Nelson Mandela's life and how he contributed to our society!</h1>
    </header>
    <main id="content">
        <p id="bio">
            
        </p>
        <img id="profile-image" src="/image/mandela_home.png" alt="Nelson Mandela Home"/>
    </main>
    <footer id="site-footer">
        <a id="back-link" href="/home">Back to Home</a>
    </footer>
    
</body>
</html>