<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/public/app.css" />
  <title>Nelson Mandela: </title>
</head>
<body>
  <header id="main-header">
    <h1 id="main-heading">Nelson Mandela: was the main political leader in the history of South Africa</h1>
  </header>
  <main id="content">
    <p id="intro-text">Also known as Madiba, Mandela fought against the racist and segregationist apartheid regime, present in his country between 1948 and the 1990s.</p>
      <img id="action-image-1" src="/image/mandela-works1.jpg" alt="Nelson Mandela" />
      <img id="action-image-2" src="/image/mandela-works2.jpg" alt="Nelson Mandela" />
      <img id="action-image-3" src="/image/mandela-works3.jpg" alt="Nelson Mandela" />
  </main>
  <footer id="site-footer">
    <a id="back-link" href="/home">Back to Home</a>
  </footer>
</body>
</html>